/* BASE STYLES
--------------------------------------------------------------------------- */
/* 
Apply a natural box layout to all elements, but allowing components to change. 
https://css-tricks.com/box-sizing/ 
*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* font size 62.5% is equal to 10px (use rem units below) */
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 35px;
  font-weight: 400;
  font-size: 1.6rem;
  background: #080808;
  color: #B4B4B4;
}

img {
  max-width: 100%;
}

/* FONTS
--------------------------------------------------------------------------- */

h1, h3, h4 {
  font-family: Orpheus Pro;
  font-style: normal;
  font-weight: normal;
  color: #E7E4E0;
}

/* NAVIGATION
--------------------------------------------------------------------------- */


.hamburger {
  display: inline-block;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

@media only screen and (min-width: 992px) {
  .hamburger {
    display: none;

    &:focus {
      outline: none;
    }
  }
}

.hamburger__box {
  z-index: 999;
  display: inline-block;
  position: fixed;
  top: 3.2rem;
  right: 2.5rem;
  width: 5.5rem;
  height: 2.4rem;
}

@mixin hamburger-line {
  position: absolute;
  width: 100%;
  height: 1.4px;
  background-color: #E2E1DD;
}

.hamburger__inner {
  @include hamburger-line;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.1s 0.2s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
  @include hamburger-line;
  content: "";
  left: 0;
  transition: transform 0.2s 0.2s ease-in-out;
}

.hamburger__inner::before {
  top: -12px;
}

.hamburger__inner::after {
  top: 12px;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
  transform: translateY(12px) rotate(45deg);
  background-color: #ffffff;
}

.hamburger--active .hamburger__inner::after {
  transform: translateY(-12px) rotate(-45deg);
  background-color: #ffffff;
}

.sr-only {
  position: absolute;
  border: 0;
  padding: 0;
  margin: -1px;
  height: 1px;
  width: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
}

.navigation {
  display: none;
}