/* BASE STYLES
--------------------------------------------------------------------------- */
/* 
Apply a natural box layout to all elements, but allowing components to change. 
https://css-tricks.com/box-sizing/ 
*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* font size 62.5% is equal to 10px (use rem units below) */
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  line-height: 35px;
  font-weight: 400;
  font-size: 1.2rem;
  background: #080808;
  color: #B4B4B4;
}

ul {
  list-style: none;
  padding-left: 2.4rem;
}

img {
  max-width: 100%;
}

/* HEADERS
--------------------------------------------------------------------------- */
h1,
h2,
h3,
h4 {
  font-family: 'orpheuspro', serif;
  font-style: normal;
  font-weight: normal;
  color: #E7E4E0;
}

a {
  font-family: 'orpheuspro', serif;
  text-decoration: none;
  letter-spacing: 0.12em;
  color: #EED4B2;
}

/* SEPARATORS AND BREAKS
--------------------------------------------------------------------------- */
.desktop__break {
  display: none;
}

@media screen and (min-width: 600px) {
  .mobile-break {
    display: none;
  }

  .desktop__break {
    display: block;
  }
}

.margin-separator {
  margin: 3rem 0;

  @media screen and (min-width: 600px) {
    & {
      margin: 10rem 0;
    }
  }
}

.decoration-separator {
  text-align: center;
  display: block;

  &__image {
    margin: 6rem 0;

    @media screen and (min-width: 600px) {
      & {
        margin: 10rem 0;
      }
    }
  }
}

.shadow-separator {
  width: 100%;
  margin-top: -5px;
  height: 25px;
  background-color: #080808;
  position: relative;
  box-shadow: 0px 5px 12px 3px #080808, 0px -5px 12px 3px #080808;
}

.hr-separator-full {
  border: 0;
  height: 1px;
  width: 100%;
  background-color: rgba(81, 81, 81, 0.5);
}

.hr-separator-80 {
  border: 0;
  height: 1px;
  width: 80%;
  background-color: rgba(81, 81, 81, 0.5);
}

/* NAVIGATION
--------------------------------------------------------------------------- */
.nav-container {
  z-index: 2;
  position: fixed;
  background: linear-gradient(180deg, #070707 0%, rgba(7, 7, 7, 0.922609) 18.44%, rgba(7, 7, 7, 0.853317) 30.9%, rgba(7, 7, 7, 0.773455) 40.96%, rgba(7, 7, 7, 0.694792) 48.15%, rgba(7, 7, 7, 0.503508) 62.29%, rgba(7, 7, 7, 0.349836) 70.91%, rgba(7, 7, 7, 0.179333) 82.52%, rgba(7, 7, 7, 0.104165) 87.69%, rgba(7, 7, 7, 0) 95.88%);
  top: 0;
  left: 0;
  width: 100%;
  height: 10.3rem;

  @media screen and (min-width: 590px) {
    & {
      background: transparent;
    }
  }
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

.hamburger__box {
  z-index: 4;
  display: inline-block;
  position: fixed;
  top: 3.8rem;
  right: 3.2rem;
  width: 5.5rem;
  height: 2.4rem;
}

@mixin hamburger-line {
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: #E2E1DD;
}

.hamburger__inner {
  @include hamburger-line;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.1s 0.2s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
  @include hamburger-line;
  content: "";
  left: 0;
  transition: transform 0.2s 0.2s ease-in-out;
}

.hamburger__inner::before {
  top: -12px;
}

.hamburger__inner::after {
  top: 12px;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
  transform: translateY(12px) rotate(45deg);
  background-color: #ffffff;
}

.hamburger--active .hamburger__inner::after {
  transform: translateY(-12px) rotate(-45deg);
  background-color: #ffffff;
}

.sr-only {
  position: absolute;
  border: 0;
  padding: 0;
  margin: -1px;
  height: 1px;
  width: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
}

.navigation {
  z-index: 2;
  // opacity: 0;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-color: #080808;
  position: fixed;
  top: 0;
  right: -100vw;
  transition: ease-in-out 0.5s;

  &--active {
    opacity: 1;
    visibility: visible;
    right: 0;
    transition: ease-in-out 0.5s;
  }

  &__contact {
    display: none;

    @media screen and (min-width: 590px) {
      & {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        background-color: #101010;
        height: 100%;
        width: 50%;
        text-align: right;
        padding: 11rem 7rem;
      }

      & .nav-title {
        font-style: italic;
        font-size: 20rem;
        letter-spacing: 0.04em;
        color: rgba(231, 228, 224, 0.05);
        margin-bottom: 8.5rem;
        margin-right: -1rem;
      }

      & .nav-subtitle {
        text-transform: uppercase;
        font-size: 1.6rem;
        line-height: 0;
        text-align: right;
        letter-spacing: 0.37em;
        color: rgba(231, 228, 224, 0.2);
      }
    }
  }

  &__list {
    padding-top: 3.5rem;

    @media screen and (min-width: 590px) {
      & {
        padding-top: 3.5rem;
        padding-left: 10rem;
      }
    }
  }

  &__item a {
    font-size: 4.2rem;
    line-height: 6.2rem;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.8);
  }

  &__sublist {
    border-left: 1px solid rgba(226, 225, 221, 0.3);
    margin: 3rem 0;
  }

  &__subitem a {
    font-family: 'Nunito', sans-serif;
    font-weight: 350;
    font-size: 1.2rem;
    line-height: 2.7rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #CECECE;
  }
}

.lang-switcher {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  width: 8.5rem;
  position: fixed;
  top: 3.8rem;
  left: 2.2rem;

  & button {
    z-index: 999;
    background-color: transparent;
    border: none;
    font-family: Orpheus Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 3.2rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

.lang-line::after {
  content: "";
  position: absolute;
  left: 1.8rem;
  top: 1.5rem;
  transform: rotate(-68deg);
  width: 4.5rem;
  height: 1px;
  background-color: #E2E1DD;
}

/* HERO
--------------------------------------------------------------------------- */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url("/dist/assets/backgrounds/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
  background-position-y: bottom;
  height: 100vh;

  @media screen and (min-width: 590px) {
    & {
      justify-content: center;
      background-image: url("/dist/assets/backgrounds/hero-bg-desktop.jpg");
      background-position: right 95%;
    }
  }

  &__slider {
    padding-bottom: 12rem;
  }

  &__title {
    font-weight: normal;
    font-size: 76px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #E7E4E0;
    text-align: center;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
}

/* SECTIONS
--------------------------------------------------------------------------- */
section {
  padding: 2rem 3.4rem;

  @media screen and (min-width: 590px) and (max-width: 1799px) {
    & {
      padding: 2rem 12.4rem;
    }
  }

  @media screen and (min-width: 1800px) {
    & {
      padding: 2rem 34.4rem;
    }
  }
}

.workshop {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 2rem 3.4rem;
  overflow: hidden;

  // @media screen and (min-width: 590px) {
  //   & {
  //     padding: 2rem 9.4rem;
  //   }
  // }

  &__header {
    width: 30rem;

    @media screen and (min-width: 590px) {
      & {
        width: 50rem;
      }
    }
  }

  &__title {
    position: relative;
    font-size: 5.6rem;
    letter-spacing: 0.04em;
    text-align: center;
    margin-bottom: 0;

    @media screen and (min-width: 590px) {
      & {
        text-align: left;
      }
    }

    &::before {
      content: "Pracownia";
      top: -4rem;
      left: -40rem;
      color: rgba(255, 255, 255, 0.03);
      letter-spacing: 0.04em;
      font-size: 12rem;
      font-style: italic;
      position: absolute;
    }
  }

  &__subtitle {
    text-align: right;
    font-style: italic;
    font-weight: normal;
    font-size: 2rem;
    line-height: 3.2rem;
    letter-spacing: 0.04em;
    color: #EED4B2;

    @media screen and (min-width: 590px) {
      & {
        text-align: center;
      }
    }

    &::before {
      content: "";
      background-color: #515151;
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 8.2rem;
      margin-right: 3rem;
    }

    @media screen and (min-width: 590px) {
      &::after {
        content: "";
        background-color: #515151;
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 8.2rem;
        margin-left: 3rem;
      }
    }
  }

  &__paragraph {
    text-align: center;
    text-transform: uppercase;
    line-height: 2.7rem;
    letter-spacing: 0.2em;
    margin-top: 4rem;
  }
}

.about-us {
  display: flex;
  flex-direction: column;
  // padding: 2rem 3.4rem;
  overflow: hidden;

  // @media screen and (min-width: 590px) {
  //   & {
  //     padding: 2rem 16.4rem;
  //   }
  // }

  &__title {
    position: relative;
    font-size: 5.6rem;
    letter-spacing: 0.04em;
    text-align: right;
    margin-bottom: 0;

    &::before {
      content: "O\00a0nas";
      top: 3rem;
      right: -7rem;
      color: rgba(255, 255, 255, 0.03);
      letter-spacing: 0.04em;
      font-style: italic;
      font-size: 12rem;
      position: absolute;
    }
  }

  &__article {
    position: relative;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
  }
}

.article {
  &__info {
    @media screen and (min-width: 590px) {
      &--left {
        max-width: 70%;
        text-align: left;

        & .article__paragraph {
          margin-left: 6rem;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -2.5rem;
            height: 40%;
            width: 1px;
            border-left: 1px solid #6C6C6C;
          }
        }

        & .article__more {
          position: absolute;
          left: 0;
          margin: 7.5rem 4rem 0;
        }
      }

      &--right {
        align-self: flex-end;
        max-width: 70%;
        text-align: right;

        & .article__paragraph {
          margin-right: 6rem;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -2.5rem;
            height: 40%;
            width: 1px;
            border-left: 1px solid #6C6C6C;
          }
        }

        & .article__more {
          position: absolute;
          right: 13rem;
          margin: 7.5rem 4rem 0;
        }
      }
    }
  }

  &__title {
    font-size: 3.2rem;
    letter-spacing: 0.04em;
    color: #EED4B2;
  }

  &__paragraph {
    position: relative;
    text-transform: uppercase;
    line-height: 2.7rem;
    letter-spacing: 0.2em;
    margin-top: 4rem;
    color: #B4B4B4;
  }

  &__more {
    font-size: 20px;
    position: absolute;
    margin: 0 auto;

    &::before {
      content: "";
      background-color: #515151;
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 8.2rem;
      margin-right: 2rem;
    }
  }

  &__gallery {
    margin-top: 12rem;

    @media screen and (min-width: 590px) {
      & {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__image {
    margin-top: 3rem;
    font-weight: 350;
    font-size: 12px;
    text-align: right;
    letter-spacing: 0.2em;
    line-height: 2;
    text-transform: uppercase;
    color: #B4B4B4;

    @media screen and (min-width: 590px) {
      &--upper {
        margin-top: -2rem;
      }

      & img {
        height: 70rem;
      }
    }
  }
}



.offer {
  display: flex;
  flex-direction: column;
  // padding: 2rem 3.4rem;
  overflow: hidden;

  // @media screen and (min-width: 590px) {
  //   & {
  //     padding: 2rem 9.4rem;
  //   }
  // }

  &__container img {
    margin-left: -3.5rem;
    margin-top: 2rem;

    @media screen and (min-width: 590px) {
      & {
        margin-left: -10rem;
        min-width: 60%;
        margin-top: 12rem;
        flex: 2;
      }
    }
  }

  &__image img {
    margin-left: 0;
    margin-top: 6rem;
    max-width: 100%;
    min-height: 50rem;
  }

  &__subcontainer--reverse {
    @media screen and (min-width: 590px) {
      & {
        // border: 1px dashed deeppink;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
      }
    }
  }

  &__subcontainer {
    @media screen and (min-width: 590px) {
      & {
        // border: 1px dashed deeppink;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }

  &__info {
    @media screen and (min-width: 590px) {
      & {
        margin-left: 14%;
        flex: 1;
        // border: 1px dashed salmon;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 50rem;
      }
    }
  }

  &__header {
    width: 30rem;
    align-self: center;

    @media screen and (min-width: 590px) {
      & {
        width: 50rem;
      }
    }
  }

  &__title {
    position: relative;
    font-size: 5.6rem;
    letter-spacing: 0.04em;
    text-align: center;
    margin-bottom: 0;

    &::before {
      content: "Oferta";
      top: 0;
      right: -19rem;
      color: rgba(255, 255, 255, 0.03);
      letter-spacing: 0.04em;
      font-style: italic;
      font-size: 12rem;
      position: absolute;

      @media screen and (min-width: 590px) {
        left: 18rem;
      }
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 2.8rem;
    letter-spacing: 0.12em;
    color: #EED4B2;
  }

  &__paragraph {
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    line-height: 2.7rem;
    letter-spacing: 0.2em;
    margin-top: 4rem;
    color: #B4B4B4;
  }

  &__list {
    border-left: 1px solid rgba(226, 225, 221, 0.3);
    margin: 3rem 0;

    @media screen and (min-width: 590px) {
      & {
        margin: 3rem -2.5rem 0;
      }
    }
  }

  &__list-item {
    font-size: 2.8rem;
    letter-spacing: 0.12em;
    color: #EED4B2;
    padding-top: 1.4rem;
  }

  &__list-item:first-child {
    padding-top: 0;
  }

  &__image {
    margin-top: 3rem;
    font-weight: 350;
    font-size: 12px;
    text-align: right;
    letter-spacing: 0.2em;
    line-height: 2;
    text-transform: uppercase;
    color: #B4B4B4;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  // padding: 2rem 3.4rem;
  overflow: hidden;

  // @media screen and (min-width: 590px) {
  //   & {
  //     padding: 2rem 9.4rem;
  //   }
  // }

  &__header {
    width: 30rem;
    align-self: center;

    @media screen and (min-width: 590px) {
      & {
        width: 50rem;
        margin-bottom: 6rem;
      }
    }
  }

  &__title {
    position: relative;
    font-size: 5.6rem;
    letter-spacing: 0.04em;
    text-align: center;
    margin-bottom: 0;

    &::before {
      content: "Galeria";
      top: -4rem;
      right: -24rem;
      color: rgba(255, 255, 255, 0.03);
      letter-spacing: 0.04em;
      font-style: italic;
      font-size: 12rem;
      position: absolute;

      @media screen and (min-width: 590px) {
        left: 18rem;
      }
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 2.8rem;
    letter-spacing: 0.12em;
    color: #EED4B2;
  }

  &__paragraph {
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    line-height: 2.7rem;
    letter-spacing: 0.2em;
    margin-top: 4rem;
    color: #B4B4B4;
    text-align: center;
  }

  &__slider-container {
    margin-top: 6rem;

    @media screen and (min-width: 590px) {
      & {
        margin-top: 14rem;
      }
    }
  }

  &__btns button {
    background-color: transparent;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 350;
    font-size: 1.2rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #EED4B2;
  }

  &__btns-status {
    color: #EED4B2;
    letter-spacing: 0.2em;
  }

  &__more {
    font-size: 20px;
    text-align: right;
    margin-top: 5rem;
    margin-right: 6.6rem;

    &::before {
      content: "";
      background-color: #515151;
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 8.2rem;
      margin-right: 2rem;
    }
  }
}

.krupa {
  display: flex;
  flex-direction: column;
  padding: 2rem 3.4rem 0;
  overflow: hidden;

  @media screen and (min-width: 590px) {
    & {
      padding: 8rem 30.4rem 0;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 590px) {
      & {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 590px) {
      & {
        align-items: flex-start;
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    height: 10rem;
  }

  &__list {
    font-size: 1.7rem;
    text-align: right;
    letter-spacing: 0.2em;
    text-transform: capitalize;
    padding: 0;
    margin-right: 2.4rem;
  }

  &__item a {
    color: #E7E4E0;
  }

  &__title {
    font-size: 6.5rem;
    letter-spacing: 0.04em;
    line-height: 5.4rem;
    padding-left: 2.4rem;
    color: #EED4B2;
    border-left: 1px solid rgba(226, 225, 221, 0.3);
  }

  &__subtitle {
    text-align: center;
    font-size: 12.7px;
    letter-spacing: 0.27em;
    text-transform: uppercase;
    color: #E7E4E0;

    @media screen and (min-width: 590px) {
      & {
        text-align: left;
      }
    }
  }
}

.contact {
  &__header {
    font-size: 2.8rem;
    letter-spacing: 0.12em;
    color: #EED4B2;
    margin-bottom: 0;
  }

  &__address {
    font-weight: 350;
    font-size: 1.2rem;
    line-height: 2.7rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #B4B4B4;
  }
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding: 0 3.4rem;
  overflow: hidden;

  @media screen and (min-width: 590px) {
    & {
      padding: 8rem 30.4rem 0;
    }
  }

  & p {
    font-family: "Orpheus Pro";
    font-size: 1.2rem;
    line-height: 3.2rem;
    letter-spacing: 0.2em;
    color: rgba(206, 206, 206, 0.6);
  }
}